.roleList li ul{
	display: none;
}

.roleList li:hover ul{
	display: inherit;
}

#textArea{
	overflow:auto;
	height:30vh;
}
#textInputArea{
	
}
#userArea{
	padding: 0px;
}	
#roleArea{
	padding: 0px;
}
#consoleArea{
	overflow:auto; 
	height:30vh;
}
.page{
	padding: 0px;
	margin: 0px;
}
#userInfoArea{
	width:100vw;
}
#wordArea{
	width: 100vw;
}
#eventArea{
	width: 100vw;
	display:block;
	overflow:auto;
	min-height: 20vh;
}
.enterRoomDiv{
	border: 1px solid black ;
	border-radius: 5px ;
	padding:10px;
}
.boardImg{
	margin-left: 10vw;
	width : 80vw;
	max-width: 480px;
	display:block;
}

canvas{
	max-width: 480px;
}

.roleImg {
	max-width: 100px;
	width :20vw;
}

.roleContentImg{
	max-width: 80px;
	width :15vw;
	display: inline-block !important;
}

.player{
	width: 45vw; 
	max-width: 200px;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
}

.roleDiv {
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width :35%;
	display: inline-block;
}

.tokenDiv {
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width :60%;
	display: inline-block;
}

.roleImg2 {
	width :100%;
}

.roleGuessDiv , .godDiv , .missionDiv , .captionDiv , .vote_token2Div , .campDiv{
	margin-left: 3px ;
	margin-top: 3px ;
	width: 28%;
	display: inline-block;
}

.roleGuessImg , .godImg , .mission , .captionImg, .vote_token2Img , .campImg{
	width: 100%;
}

.roleGuessOption {
	width: 10vw ;
	max-width: 30px ;
}